 @model IEnumerable<Product>

    @{
        ViewBag.Title = "Result Products";
    }

    <div class="product">

        <ul id="product-list">
            @foreach (var product in Model)
            {
                <li>
                    <a href="@Url.Action("Details", new { id = product.ProductId })">
                        <img alt="@product.Title" src="@product.ProductArtUrl" />
                        <span>@product.Title</span>
                    </a>
                </li>
            }
        </ul>
    </div>
